<div>
  <form *ngIf="!field.validToken" #form="ngForm" (ngSubmit)="field.onLogin(field.username, field.password)" novalidate autocomplete="off">
    <h4>{{ field.permissionStep_1 }}</h4>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="field.username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="field.password">
    </div>
    <div class="form-group">
      <div *ngIf="field.loginMessageForm.message" class="alert alert-{{ field.loginMessageForm.class }}" class="form-group">
        {{ field.loginMessageForm.message }}
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <div class="row"></div>
  <div *ngIf="field.validToken" class="panel">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <ng-container *ngFor="let header of field.columns"><th>{{ header.label }}</th></ng-container>
            <th>Workspaces</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of field.workspaces">
            <ng-container *ngFor="let column of field.columns">
              <td  *ngIf="column.show != false">
                <span *ngIf="column.link != null; else noProcessing "><a href="/{{ branding }}/{{ portal }}/{{ column.link.pattern}}"></a></span>
                <ng-template #multivalue></ng-template>
                <ng-template #noProcessing><span >{{ item[column.property] }}</span></ng-template>
              </td></ng-container>
              <td>
                <span *ngIf="item.isLinked; else isNotLinked ">
                  <button disabled type="button" class="btn btn-info"> Linked </button>
                </span>
                <ng-template #isNotLinked>
                  <button type="button" class="btn btn-info" (click)="field.linkWorkspace(item.id)"> Link </button>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="row">
          <button type="button" class="btn btn-default" (click)="field.getWorkspaces()"><i class="fas fa-redo fa-1x"></i>&nbsp;Sync</button>
        </div>
      </div>
    </div>
    <div class="panel">
      <div *ngIf="field.validToken" class="row">
        <button type="button" class="btn btn-danger" (click)="field.revokeModal()"> Revoke Permissions </button>
      </div>
      <br/>
      <div class="row">
        <button type="button" class="btn btn-default" (click)="field.backToRDMP()"> Back to RDMP </button>
      </div>
    </div>
    <div id="gitlabPermissionModal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Requesting Permission</h4>
          </div>
          <div class="modal-body">
            <p>{{ field.permissionStep_2 }}</p>
            <ul>
              <li *ngFor="let permission of field.permissionList">{{ permission }}</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="field.allow()">Allow</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="gitlabRevokeModal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Removing Permissions</h4>
          </div>
          <div class="modal-body">
            <p>The permissions for this service will be removed. You will require to grant permissions to this service again.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="field.revoke()">Revoke</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div id="gitlabLinkModal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Workspace Linking</h4>
          </div>
          <div class="modal-body">
            <h5>Workspace Details</h5>
            <p>name: {{ field.currentWorkspace.path_with_namespace }}</p>
            <p>web url: {{ field.currentWorkspace.web_url }}</p>
            <h5>Processing</h5>
            <p>Checking your master workspace link ...&nbsp;<span *ngIf="field.checks.master; then isDone; else isSpinning"></span></p>
            <p *ngIf="field.checks.comparing">Checking current links ...&nbsp;<span *ngIf="field.checks.link; then isDone; else isSpinning"></span></p>
            <p *ngIf="field.checks.link == false">No links, Linking to workspace ...&nbsp;<span *ngIf="field.checks.rdmp; then isDone; else isSpinning"></span></p>
            <p class="alert alert-success" *ngIf="field.checks.linkCreated">Your workspace was linked succesfully</p>
            <p class="alert alert-danger" *ngIf="field.checks.linkWithOther">Your workspace is linked with another RDMP</p>
            <ng-template #isDone>
              <i class="fa fa-check-circle"></i>
            </ng-template>
            <ng-template #isSpinning>
              <i class="fa fa-spinner fa-spin"></i>
            </ng-template>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

  </div>
